<div class="row">
<div id="item-<%= item.id %>">    
    <div class="pull-left">
        <%= link_to "", [@user, item], method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %>
    </div>
    <div id="item-check" class="col-md-4">
        <strong><%= item.name %></strong><br />
        <small class="time-ago"><%= distance_of_time_in_words(Time.now, item.created_at + 7.days) %> left to complete this task</small><br />
    </div>
</div>
</div>

    

