<% if @items.empty? %>
    <h4>You don't appear to have any items on your todo list!</h4>
<% else %>
    <h4>Your todo list:</h4>
    <% @items.each do |i| %>
        <strong>
          <%= i.name %> <br />  
        </strong>
    <% end %>
<% end %>