$('.items').append('<%= j (render @item) %>')
$('#flash').html('<div class="alert alert-success"><strong><%= @item.name %></strong> has been added to your todo list.</div>');
$('#new_item')[0].reset()